<footer class="footer">
    <div class="container footer-container">
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy </a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms & Conditions</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="cookies.html">Cookies Policy</a>
            </li>
        </ul>
        <img class="footer-logo" src="/img/logo.png" alt="Logo" loading="lazy">


        <p class="footer-text">© 2025 — All rights reserved. neonstorm.online</p>
    </div>
</footer>