body{
  background: #0b1510;
  font-family: "Hind", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: #ecf3ec;
}
h2{
  font-family: "Eagle Lake", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #f9dc23;
}
.title-wrapper{
  padding: 48px 16px 10px;
    width: 100%;
    height: 97px;
    background: #0b1510;
}
.btn{
border: 1px solid #cdb209;
  border-radius: 16px;
  width: 240px;
  height: 56px;
  box-shadow: 1px 2px 2px 0 rgba(134, 118, 11, 0.5), inset 0 0 16px 4px rgba(174, 137, 17, 0.8);
    background: #f9dc23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Hind", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      color: #0b1510;
      transition: background 0.3s ease-in-out;
}
.btn:hover,
.btn:active{
    background: #fae144;
}
