.footer-container {
  padding: 48px 34px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #ecf3ec;
}


.footer-text {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ebebeb;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding: 56px 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer-link-btn {
    margin: 0;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-text {
    font-size: 14px;
  }
}