.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
    border: 2px solid #163223;
        border-radius: 24px;
        padding: 40px 16px 24px;
        width: 343px;
        height: 542px;
        box-shadow: inset 0 0 74px 0 #0f3511;
            background: #0b1510;
}
.home-title{
    font-family: "Eagle Lake", sans-serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 1;
        letter-spacing: -0.04em;
        text-align: center;
        color: #289530;
        text-shadow: inset 2px 2px 4px 0 #121022;
}
.home-span{
        color: #f9dc23;
        text-shadow: inset 2px 3px 4px 0 #744103;
}
.home-subtitle{

    font-family: "Eagle Lake", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -0.04em;
        text-align: center;
        color: #ecf3ec;
}
.home-text{

        font-weight: 300;
        line-height: 1.4;
        width: 270px;

}
.home-two,
.home-three,
.home-four {
    display: none;
}
.home-one{
    position: absolute;
    width: 170px;
        height: 230px;
        bottom: -38%;
        z-index: 2;
        right: 2%;
}
.mob{
    display: none;
}
@media only screen and (min-width: 1440px) {
    .home-section {
        background-image: url("/img/hero/desk.png");
        height: 850px;
    }

    .home-wrapper {
        margin-top: 30px;
        width: 784px;
        height: 590px;
        padding: 48px 104px 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .home-title{
        font-size: 80px;
    }
    .home-subtitle{
        margin-top: 16px;
    }
    .home-text{
        width: 550px;
        margin-bottom: 16px;
    }
    .mob{
        display: block;
    }
    .desk{
        display: none;
    }
        .home-two,
        .home-three,
        .home-four {
            display: block;
            position: absolute;
            z-index: 3;
        }
    
        .home-one {
            position: absolute;
width: 446px;
    height: 620px;
            bottom: -27%;
            z-index: 2;
            right: -30%;
        }
        .home-four{
            top: 20px;
            left: 3%;
          }
          .home-three{
            bottom: -10%;
            left: -10%;
          }
          .home-two{
            right: -17%;
            bottom: -29%;
          }
}
/* Tale */
.tale-article{
    background-image: url("/img/tale/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 599px;
}

.tale-wrapper{
    background: rgba(11, 21, 16, 0.7);
    border-radius: 24px;
        padding: 20px;
        width: 343px;
        height: 229px;
}
@media only screen and (min-width: 1440px) {
   .tale-article{
    background-image: url("/img/tale/desk.png");
    height: 450px;
   }
   .tale-wrapper{
    padding: 48px;
        width: 531px;
        height: 312px;
        font-size: 18px;
        text-align: left;
        margin-right: 0;
        margin-left: auto;
   }
   .tale-container{
    padding-top: 58px;
    padding-right: 189px;
   }
}
/* ELLEN */
.ellen-article{
    background: #ecf3ec;
}
.ellen-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.ellen-item{
    border-radius: 24px;
        padding: 16px;
        width: 343px;
        height: auto;
        box-shadow: inset 0 0 10px 0 rgba(236, 243, 236, 0.4);
            background: #163223;
    font-family: "Hind", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: -0.02em;
        text-align: center;
        color: #ecf3ec;
}
@media only screen and (min-width: 1440px) {
 .ellen-list{
    flex-direction: row;
 }
 .ellen-item{
border-radius: 24px;
    padding: 63px 48px;
    width: 410px;
    height: 300px;
 }
}
/* DISCLAIMER */
.disclaimer-container{
    padding: 48px 38px;
}
.disclaimer-text{
    margin-top: 24px;
font-family: "Hind", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #ecf3ec;
}
@media only screen and (min-width: 1440px) {
  .disclaimer-container{
    padding: 56px 210px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .disclaimer-text{
    margin-top: 0;
    text-align: left;
  }
}