.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
    border: 2px solid #163223;
        border-radius: 24px;
        padding: 40px 16px 24px;
        width: 343px;
        height: 542px;
        box-shadow: inset 0 0 74px 0 #0f3511;
            background: #0b1510;
}
.home-title{
    font-family: "Eagle Lake", sans-serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 1;
        letter-spacing: -0.04em;
        text-align: center;
        color: #289530;
        text-shadow: inset 2px 2px 4px 0 #121022;
}
.home-span{
        color: #f9dc23;
        text-shadow: inset 2px 3px 4px 0 #744103;
}
.home-subtitle{

    font-family: "Eagle Lake", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -0.04em;
        text-align: center;
        color: #ecf3ec;
}
.home-text{

        font-weight: 300;
        line-height: 1.4;
        width: 270px;

}
.home-two,
.home-three,
.home-four {
    display: none;
}
.home-one{
    position: absolute;
    width: 170px;
        height: 230px;
        bottom: -38%;
        z-index: 2;
        right: 2%;
}